body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button:first-child {
    color:black;
    background-color:greenyellow;
    /* border-radius: 100%; */
    height: 3.8em;
    width: 5em;
}

/* .streamlit-button.primary-button {
    background-color:greenyellow;
    border-color:forestgreen;
} */