body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button {
    color:black;
    border-radius: 100%;
    height: 4em;
    width: 5em;
}

.streamlit-button.primary-button {
    background-color:greenyellow;
    border-color:forestgreen;
}